page-home {
    .product-col{
        display: flex;
        justify-content: center;
    }

    [col-6], .grid, .col { padding: 0px; }

    .card-content-md { padding: 10px; }

    .card-title-md { margin: 0px; padding: 0; }

    .header-banner {
        // height:150px;
        // min-height:150px;
        
        .slide-zoom {
            height: 100%;

            img {
                width:100% !important;
                height:100% !important;
                border-radius: 5px;
            }
        }
    }

    ion-slides {
        height: 150px;
    }

    .header-banner ion-card {
        height: 140px;
    }
}
